PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=titan_dev
JWT_SECRET=some-jwt-secret-key-here
JWT_EXPIRATION=900s
REFRESH_TOKEN_SECRET=some-refresh-jwt-secret-key-here
REFRESH_TOKEN_EXPIRATION=7d
ENCRYPTION_KEY=64-character-hex-encryption-key-for-pii-here-64-chars-long-hex
